/* line 25, ../sass/main.scss */
html, body {
  color: #5b5b5b;
  font: 14px/1.8 "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

/* line 30, ../sass/main.scss */
p {
  margin: 0.5em 1em;
}

/* line 34, ../sass/main.scss */
html, body, ul, ol {
  margin: 0px;
  padding: 0px;
}

/* line 39, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 43, ../sass/main.scss */
ul {
  list-style: none;
}

/* line 47, ../sass/main.scss */
.content-list {
  margin: 10px;
}

/* line 53, ../sass/main.scss */
.tab-wrapper {
  width: 420px;
  height: auto;
  margin: 40px auto;
  /*@include MQ(L) {
      margin: 1em;
      width: auto;
  }*/
}
@media only screen and (max-width: 479px) {
  /* line 53, ../sass/main.scss */
  .tab-wrapper {
    position: relative;
    margin: 1em 0;
    width: auto;
  }
}
@media only screen and (min-width: 480px) and (max-width: 719px) {
  /* line 53, ../sass/main.scss */
  .tab-wrapper {
    position: relative;
    margin: 1em 0;
    width: auto;
  }
}
/* line 72, ../sass/main.scss */
.tab-wrapper > ul {
  overflow: hidden;
  *zoom: 1;
  background: #f2f2f2;
  padding: 6px 10px 0;
}
/* line 76, ../sass/main.scss */
.tab-wrapper > ul li {
  cursor: pointer;
  background: #f2f2f2;
  float: left;
  padding: 0px 10px;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 83, ../sass/main.scss */
.tab-wrapper > ul li:hover {
  background: #eaeaea;
}
/* line 86, ../sass/main.scss */
.tab-wrapper > ul li.on, .tab-wrapper > ul li.hover {
  background: #ffffff;
  color: #f60;
}
/* line 93, ../sass/main.scss */
.tab-wrapper .mobile-wrapper {
  border: 1px #f2f2f2 solid;
  border-top: 0;
}
@media only screen and (max-width: 479px) {
  /* line 93, ../sass/main.scss */
  .tab-wrapper .mobile-wrapper {
    position: relative;
    width: auto;
    height: 220px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 480px) and (max-width: 719px) {
  /* line 93, ../sass/main.scss */
  .tab-wrapper .mobile-wrapper {
    width: auto;
    position: relative;
    height: 300px;
    overflow: hidden;
  }
}
/* line 110, ../sass/main.scss */
.tab-wrapper .tab-wrapper__content {
  overflow: hidden;
}
@media only screen and (max-width: 479px) {
  /* line 110, ../sass/main.scss */
  .tab-wrapper .tab-wrapper__content {
    position: absolute;
    overflow: hidden;
    *zoom: 1;
    width: 300%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 719px) {
  /* line 110, ../sass/main.scss */
  .tab-wrapper .tab-wrapper__content {
    overflow: hidden;
    *zoom: 1;
    position: absolute;
    width: 300%;
  }
}
/* line 123, ../sass/main.scss */
.tab-wrapper .tab-wrapper__content > div {
  background: #ffffff;
  display: none;
}
@media only screen and (max-width: 479px) {
  /* line 123, ../sass/main.scss */
  .tab-wrapper .tab-wrapper__content > div {
    float: left;
    display: block;
  }
}
@media only screen and (min-width: 480px) and (max-width: 719px) {
  /* line 123, ../sass/main.scss */
  .tab-wrapper .tab-wrapper__content > div {
    display: block;
    float: left;
  }
}
/* line 134, ../sass/main.scss */
.tab-wrapper .tab-wrapper__content > div.active, .tab-wrapper .tab-wrapper__content > div.current {
  display: block;
}
